@import '../../../../main.scss';

.proud-container {
  @include size (100%, auto, 3rem);
  @include flex;
  position: relative;
  font-family: var(--text-font-family);
  font-optical-sizing: var(--text-font-optical-sizing);
  font-weight: var(--text-font-weight);
  font-style: var(--text-font-style);
  color: var(--color-001);
}

.title-container {
  @include size (50%, auto, 1rem);
  @include flex;
  @include font;
  animation: bottom 2s forwards;
}

.projects-container {
  @include size (100%, auto, 2rem);
  @include flex(row,center);
  position: relative;
  animation: bottom 2s forwards;
}

.projects {
  @include size (23%, 40vh, 1rem);
  @include flex(column,start);
  @include font(none);
  position: relative;
  min-height: 350px;
  border-radius: 12px;
  padding: 12px 0;
  box-shadow: 0 0 4px rgba(216, 216, 216, 0.2);

    h3 {
      color: var(--color-001);
      font-weight: 600;
    }

    h4 {
      color: var(--color-000);
      font-weight: 500;
    }
   
}

.wallpaper {
  @include size (90%, 200px);


  img {
    @include size (100%, 100%);
    border-radius: 8px;
    object-fit: contain;
  }
}

.description-projects {
  @include flex(column,start,start);
  @include size (90%, auto, 1rem);

}

@media all and ( max-width: 1024px ) {
  .projects-container {
    flex-direction: column;
    padding: 2rem 0;

    .projects {
      @include size (50%);
    }
  }
}

@media all and ( max-width: 768px ) {

  .title-container {
    @include size (80%);
  }

  .projects {
    width: 80% !important;
  }
}