@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: black;
  gap: 2rem;
  font-family: var(--text-font-family);
  font-optical-sizing: var(--text-font-optical-sizing);
  font-weight: var(--text-font-weight);
  font-style: var(--text-font-style);
  overflow: hidden;
  @include center;
  flex-direction: column;

}

.container-left,
.container-right {
  position: relative;
  top: 3rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  z-index: 1;
}

.container-left {
  justify-content: start;
  animation: bottom 2s forwards;
}

.container-right {
  align-items: end;
  justify-content: start;
  animation: bottom 2s forwards;
}

.about-text-container,
.information-container {
  position: relative;
  font-weight: 600;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 26px;
}

.about-text-container {
  width: 75%;
  height: 40vh;
}

.about-text-container span:nth-child(2) {
  color: var(--color-000);
  font-size: clamp(12px, 2vw, 16px);
  font-weight: 500;
}

.information-container {
  width: 88%;
  min-height: 55vh;
  
  .about-text-container {
    width: 40%;
    top: 5rem;
  }
}

.values-container,
.clients-container {
  display: flex;
  justify-content: start;
  font-weight: 400;
  gap: 8px;
}

.values-container {
  flex-direction: row;
  font-size: 13px;
  color: var(--color-005);
}

.clients-container {
  font-size: 13px;
  color: var(--color-000);
  display: flex;
  align-items: start;
  flex-direction: row;
}

.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--color-000);
}

.text-container span:nth-child(1) {
  color: var(--color-005);
}

.bubna {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
}

.coments {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.clients {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 600;
  gap: 8px;
}

.clients span:nth-child(2) {
  color: var(--color-000);
  font-weight: 500;
}

.quoteRight {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  font-size: 30px;
  padding: 5px;
  border-radius: 100px;
  background-color: var(--color-001);
}

.contact-us {
  position: absolute;
  right: -100%;
  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-001);
  border: 2px whitesmoke solid;
  border-radius: 10px;
  padding: 4px 10px;
}

@media all and (max-width: 1440px) {
  .main-container {
    padding-bottom: 10rem;
  }

  .container-left,
  .container-right {
    align-items: center;
  }

  .about-text-container {
    width: 100%;
    height: auto;
    min-height: 200px;
  }

  .information-container {
    font-size: clamp(20px, 2vw, 40px);
  }
}

@media all and (max-width: 1024px) {
  .container-left,
  .container-right {
    width: 80%;
  }

  .information-container {
    width: 100%;
    align-items: center;

    .about-text-container {
      width: 50%;
      align-items: center;
    }
  }

  .bubna {
    gap: 2rem;
  }

  .clients-container {
    width: 200px;
  }

  .contact-us {
    left: 0;
    top: 10rem;
    height: 30px;
    width: 100px;
  }
}

@media all and (max-width: 768px) {
  .bubna {
    position: relative;
    left: -60px;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  .clients-container {
    width: 250px;
  }

  .contact-us {
    width: 80px;
    height: 25px;
    font-size: clamp(12px, 2vw, 15px);
  }
}