.main {
  width: 100%;
  min-height: 90vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 26px;
  font-family: var(--text-font-family);
  font-optical-sizing: var(--text-font-optical-sizing);
  font-weight: var(--text-font-weight);
  font-style: var(--text-font-style);
  overflow: hidden;
}

.ui img {
  filter: grayscale(50%);
  cursor: auto;
}

.abaut-container {
  width: 100%;
  height: 100%;
}

.leftPanel  {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-000);
  gap: 26px;
}

.belance-background {
  width: 100%;
  height: 400px;
  background: url(img/background-3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 80px 20px;
  text-align: center;
  z-index: 1;
  animation: bottom 2s ease-in-out forwards;
}

.belance {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 20px 20px 70px 20px;
}

.home-title {
  color: var(--color-001);
  font-size: 35px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.home-logo {
  width: 30px;
  height: 30px;
}

.belance-container:nth-child(1) .home-title .home-logo {
  background: url(img/logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.belance-container:nth-child(2) .home-title .home-logo {
  background: url(img/abaut-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.belance-container {
  backdrop-filter: blur(10px);
}

.developers .home-title .home-logo {
  background: url(img/dev-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-overlay .home-title .home-logo {
  background: url(img/work-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.belance-container {
  width: 45%;
  height: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  animation: bottom 2s ease-in-out forwards;
}

.belance .belance-container:nth-child(2) {
  overflow: hidden;
  border-radius: 20px 20px 85px 20px;
}

.information {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  font-size: 20px;
  color: var(--color-001);
}

.services {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 25px;
  color: var(--color-001);
  gap: 6px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 15px;
  color: var(--color-000);
  gap: 8px;
}

.ui {
  position: relative;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 20px var(--color-001));
  padding: 1px;
  cursor: pointer;
}

.language {
  color: var(--color-001);
}

.abaut {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 8px;
}

.more {
  font-size: 20px;
  color: var(--color-001);
  padding: 5px 10px 5px 10px;
  border: 1px var(--color-001) solid;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.description-container {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 26px;
  animation: bottom 2s ease-in-out forwards;
}

.description-background {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px 70px 20px 20px;
  overflow: hidden;
}

.description-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
}

/*RightPanel*/

.rightPanel {
  width: 30%;
  height: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 26px;
}

.developers-background {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(img/background-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 20px 80px;
  z-index: 1;
  overflow: hidden;
  animation: bottom 2s ease-in-out forwards;
}

.hover-info {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.719);
}

.hover-info.visible {
  display: flex;
  animation:  bottom 1s ease-in-out forwards;
}

.developers-information {
  width: 100%;
  height: 100%;
  color: var(--color-001);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 8px;
}

.developers-information span {
  font-size: 25px;
  padding-bottom: 10px;
}

.classification {
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 90%;
  height: 15%;
  color: var(--color-000);
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 20px;
  gap: 8px;
}

.developers {  
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 20px 20px 20px 70px;
  color: var(--color-001);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.info {
  font-size: 20px;
  position: relative;
  left: 50%;
  background-color: var(--color-000);
  padding: 2px 10px 2px 10px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--color-black);
}

.developers-container {
  width: 95%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.developer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  width: 90%;
  height: 15%;
}

.avatar {
  width: 45px;
  height: 45px;
  font-size: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.level {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.level-1 {
  background-color: #fc4a4a;
  color: var(--color-001);
}

.level-2 {
  background-color: #cc7777;
  color: black;
}

.level-3 {
  background-color: #ffff66;
  color: black;
}

.level-4 {
  background-color: #78f782; 
  color: black;
}

.level-5 {
  background-color: #30ee30; 
  color: black;
}

.works-scroll-background {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 80px 20px 20px 20px;
  overflow: hidden;
}
.works-scroll {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 80px 20px 20px 20px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  animation: scroll 5s ease-in-out infinite;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.445);
  backdrop-filter: blur(4px);
  animation: bottom 2s ease-in-out forwards;
}

@media all and ( max-width: 1440px ) {

  .main {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
  }

  .belance-background{
    border-radius: 20px;
    width: 70%;
    height: 500px;
  }

  .belance {
    border-radius: 0;
  }

  .belance .belance-container:nth-child(2) {
    border-radius: 20px;
  }

  .rightPanel {
    width: 90%;
    height: 850px;
    justify-content: space-evenly;
  }

   .developers-background {
    border-radius: 20px;
  }

  .developers {
    border-radius: 0;
  }

  .works-scroll-background {
    border-radius: 20px;
  }

  .works-scroll {
    border-radius: 0;
  }
    
  .img-overlay {
    border-radius: 0; 
    min-width: 101%;
   }
   
}

@media all and ( max-width: 768px ) {
  
  .main {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
  }

  .belance-background{
    border-radius: 20px;
    width: 70%;
    height: 1000px;
    height: auto;
  }

  .information {
    padding: 10px 0 10px 0;
  }

  .belance {
    border-radius: 0;
    flex-direction: column;
  }

  .belance-container {
    width: 95%;
    min-height: 400px;
    justify-content: space-evenly;
  }

  .information {
    padding: 20px 0 20px 0;
  }

  .more { 
    font-size: 15px;
  }

  .belance .belance-container:nth-child(2) {
    border-radius: 20px;
  }

  .rightPanel {
    width: 90%;
    height: 850px;
    justify-content: space-evenly;
  }

  .developers-background {
    border-radius: 20px;

  }

  .developers {
    border-radius: 0;
  }

  .works-scroll-background {
    border-radius: 20px;
  }

  .works-scroll {
    border-radius: 0;
  }

  .img-overlay {
   border-radius: 0; 
   min-width: 101%;
  }

}

@media all and ( max-width: 375px ) { 

  .developer {
    width: 95%;
  }

  .name {
    font-size: 15px;
  }

  .workExpirience {
    display: none;
  }

  .works {
    font-size: 15px;
  }

  .level {
    display: none;
  }

}