@import '../../main.scss';

.main {
  @include font-text;
  @include flex (row);
  position: relative;
  width: 100%;
  height: auto;
  background-color: black;
  gap: 26px;
  overflow: hidden;
}

.about-container {
  width: 100%;
  height: 100%;
}

.leftPanel  {
  @include flex (column);
  width: 55%;
  height: 100%;
  color: var(--color-000);
  gap: 26px;
}

.belance-background {
  width: 100%;
  height: 400px;
  text-align: center;
  z-index: 1;
}

.belance {
  @include flex (row,space-evenly,center);
  position: relative;
  width: 100%;
  height: 100%;
  gap: 10px;

  .belance-container:nth-child(2) {
    overflow: hidden;
  }
}

.home-title {
  @include flex (row,start);
  color: var(--color-001);
  font-size: 35px;
  gap: 8px;
}

.home-logo {
  width: 30px;
  height: 30px;
}

.belance-container:nth-child(1) .home-logo {
  @include img-position('img/logo.png');
}

.belance-container:nth-child(2) .home-logo {
  @include img-position('img/abaut-logo.png');
}

.developers .home-title .home-logo {
  @include img-position('img/dev-logo.png');
}

.img-overlay .home-title .home-logo {
  @include img-position('img/work-logo.png');
}

.belance-container {
  @include flex (column,space-evenly,start);
  width: 45%;
  height: 95%;
  animation: bottom 2s ease-in-out forwards;
}

.information {
  @include flex (column,center,center);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 16px;
  gap: 8px;
  font-size: 13px;
}

.text {
  font-size: 20px;
  color: var(--color-001);
}

.services {
  display: flex;
  flex-direction: column;
  width: 90%;
  font-size: 25px;
  color: var(--color-001);
  gap: 8px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.skills {
  @include flex (row, space-between, center);
  font-size: 15px;
  color: var(--color-000);
  gap: 8px;
}

.ui {
  position: relative;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 20px var(--color-001));
  padding: 1px;

    img {
      filter: grayscale(50%);
    }
}

.language {
  color: var(--color-001);
}

.about {
  @include flex (column, space-evenly, center);
  width: 90%;
  height: 100%;
  gap: 8px;
}

.more {
  font-size: 20px;
  color: var(--color-001);
  padding: 5px 10px 5px 10px;
  border: 1px var(--color-001) solid;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.description-container {
  @include flex (row);
  position: relative;
  width: 100%;
  height: 300px;
  gap: 26px;
  animation: bottom 2s ease-in-out forwards;
}

.description-background {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px 70px 20px 20px;
  overflow: hidden;
}

.description-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
}

/*RightPanel*/

.rightPanel {
  @include flex (column);
  width: 30%;
  height: auto;
  gap: 26px;
}

.developers-background {
  position: relative;
  width: 100%;
  height: 400px;
  z-index: 1;
  overflow: hidden;
  animation: bottom 2s ease-in-out forwards;
}

.hover-info {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.719);
}

.hover-info.visible {
  display: flex;
  animation:  bottom 1s ease-in-out forwards;
}

.developers-information {
  width: 100%;
  height: 100%;
  color: var(--color-001);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 8px;

    span {
      font-size: 25px;
      padding-bottom: 10px;
    }
}

.classification {
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 90%;
  height: 15%;
  color: var(--color-000);
  background-color: rgba(0, 0, 0, 0.719);
  border-radius: 20px;
  gap: 8px;
}

.developers {  
  @include flex (column);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius: 20px 20px 20px 70px;
  color: var(--color-001);
  gap: 8px;
}

.info {
  font-size: 20px;
  position: absolute;
  right: 0;
  background-color: var(--color-000);
  padding: 2px 10px 2px 10px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--color-black);
}

.developers-container {
  @include flex (column, start, center);
  width: 95%;
  height: 80%;
  gap: 8px;
}

.developer {
  @include flex (row, space-between, center);
  padding: 5px 10px 5px 10px;
  width: 90%;
  height: 15%;
}

.avatar {
  @include flex (content);

  font-size: 30px;
}

.level {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.level-1 {
  background-color: #fc4a4a;
  color: var(--color-001);
}

.level-2 {
  background-color: #cc7777;
  color: black;
}

.level-3 {
  background-color: #ffff66;
  color: black;
}

.level-4 {
  background-color: #78f782; 
  color: black;
}

.level-5 {
  background-color: #30ee30; 
  color: black;
}

.works-scroll-background {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 80px 20px 20px 20px;
  overflow: hidden;
}
.works-scroll {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 80px 20px 20px 20px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  animation: scroll 5s ease-in-out infinite;
}

.img-overlay {
  @include flex (column, space-evenly, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  backdrop-filter: blur(4px);
  animation: bottom 2s ease-in-out forwards;
}

@media all and ( max-width: 1440px ) {

  .main {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
  }

  .belance-background{
    border-radius: 20px;
    width: 70%;
    height: 500px;
  }

  .rightPanel {
    width: 90%;
    height: 850px;
    justify-content: space-evenly;
  }

   .developers-background {
    border-radius: 20px;
  }

  .developers {
    border-radius: 0;
  }

  .works-scroll-background {
    border-radius: 20px;
  }

  .works-scroll {
    border-radius: 0;
  }
    
  .img-overlay {
    border-radius: 0; 
    min-width: 101%;
   }
   
  .description-background {
    border-radius: 0;
  }
}

@media all and ( max-width: 768px ) {
  
  .main {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
  }

  .belance-background{
    border-radius: 20px;
    width: 90%;
    height: 1000px;
    height: auto;
  }

  .information {
    padding: 10px 0 10px 0;
  }

  .belance {
    border-radius: 0;
    flex-direction: column;

    .belance-container:nth-child(2) {
      border-radius: 20px;
    }
  }

  .belance-container {
    width: 95%;
    min-height: 400px;
    justify-content: space-evenly;
  }

  .information {
    padding: 20px 0 20px 0;
  }

  .more { 
    font-size: 15px;
  }


  .rightPanel {
    width: 90%;
    height: 850px;
    justify-content: space-evenly;
  }

  .developers-background {
    border-radius: 20px;

  }

  .developers {
    border-radius: 0;
  }

  .works-scroll-background {
    border-radius: 20px;
  }

  .works-scroll {
    border-radius: 0;
  }

  .img-overlay {
   border-radius: 0; 
   min-width: 101%;
  }

}

@media all and ( max-width: 375px ) { 

  .developer {
    width: 95%;
  }

  .name {
    font-size: 15px;
  }
  
  .home-logo {
    display: none;
  }

  .workExpirience {
    display: none;
  }

  .works {
    font-size: 15px;
  }

  .level {
    display: none;
  }

  .developers-information {
    gap: 2rem;
  }

}