@media all and ( max-width: 1440px ) {

  .main {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
  }

  .belance-background{
    border-radius: 20px;
    width: 70%;
    height: 500px;
  }

  .belance {
    border-radius: 0;
  }

  .belance .belance-container:nth-child(2) {
    border-radius: 20px;
  }

  .rightPanel {
    width: 90%;
    height: 850px;
    justify-content: space-evenly;
  }

   .developers-background {
    border-radius: 20px;
  }

  .developers {
    border-radius: 0;
  }

  .works-scroll-background {
    border-radius: 20px;
  }

  .works-scroll {
    border-radius: 0;
  }
    
  .img-overlay {
    border-radius: 0; 
    min-width: 101%;
   }
   
}

@media all and ( max-width: 768px ) {
  
  .main {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
  }

  .belance-background{
    border-radius: 20px;
    width: 70%;
    height: 1000px;
    height: auto;
  }

  .information {
    padding: 10px 0 10px 0;
  }

  .belance {
    border-radius: 0;
    flex-direction: column;
  }

  .belance-container {
    width: 95%;
    min-height: 400px;
    justify-content: space-evenly;
  }

  .information {
    padding: 20px 0 20px 0;
  }

  .more { 
    font-size: 15px;
  }

  .belance .belance-container:nth-child(2) {
    border-radius: 20px;
  }

  .rightPanel {
    width: 90%;
    height: 850px;
    justify-content: space-evenly;
  }

  .developers-background {
    border-radius: 20px;

  }

  .developers {
    border-radius: 0;
  }

  .works-scroll-background {
    border-radius: 20px;
  }

  .works-scroll {
    border-radius: 0;
  }

  .img-overlay {
   border-radius: 0; 
   min-width: 101%;
  }

}

@media all and ( max-width: 375px ) { 

  .developer {
    width: 95%;
  }

  .name {
    font-size: 15px;
  }
  
  .home-logo {
    display: none;
  }

  .workExpirience {
    display: none;
  }

  .works {
    font-size: 15px;
  }

  .level {
    display: none;
  }
}